@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Proza+Libre:wght@400;600&display=swap');
@import 'variables';
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Proza Libre', sans-serif;
  color: $dark;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-group {
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: $primary-strong;

  &:hover {
    background-color: $primary;
  }
}

.landing-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  background-size: cover;


  .form-background {
    /* The size of your image or what you want to be visible */
    width: 500px;
    height: 300px;
    background: url('../../public/images/landing_form_bg.png') no-repeat center center;
    background-size: contain;  /* Optional: Cover the entire area of the div */
  
    /* Centering the form in the middle of form-background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    .form-group {
      display: flex;
      align-items: center;
      border-bottom: 2px solid $secondary; 
    }

    .input {
      flex: 1;
      padding: 10px;
      border-radius: 5px;
      margin-right: 5px; 
      border: none;
      border-radius: 0%;
      background: transparent;
      outline: none;
      caret-color: $secondary;
      color: $dark;
    }
    
    ::placeholder {
      color: rgba($dark, 0.5);
    }
    
    .button {
      background: none;
      border: none;
      cursor: pointer;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s ease;
      color: $dark;
  
      &:hover {
        color: $secondary;
      }
  
      .arrow-icon {
        font-size: 1.5rem; /* Adjust the size as needed */
      }
    }
  
    .error-message {
      color: $primary;
      margin-top: 10px;
      font-size: 12px;
    }
  }

}

.main-container {
  min-height: 100vh;
  padding-top: 5rem;
  background-color: $primary;
  background-image: url('../../public/images/bg_top2.png');
  background-repeat: no-repeat;
  background-position-y: -100px;
}

header {
  width: 100%;
  background: $secondary;

  .logo {
    height: 2.5rem;
    width: auto;
  }

  nav {
    ul {
      li {
        transition: color 0.3s;

        &:hover {
          color: $primary;
        }
      }
      
    }
  }
}

.text-body-secondary {
  color: $text-secondary;
}

@media (min-width: 992px) {
  .ms-lg-n5 {
    margin-left: -3rem !important;
  }
  .ms-lg-n10 {
    margin-left: -15% !important;
  }

  .me-lg-n5 {
    margin-right: -3rem !important;
  }
  .me-lg-n10 {
    margin-right: -15% !important;
  }
}

.mt-n10 {
  margin-top: -15%;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-body {
    padding: 2rem;
  }
}

.button-cards {
  @media (min-width: 992px) {
    height: 300px;
  }
  
}

footer {
  img {
    height: 200px;
  }
}
